[submodule "lib/fcontrol"]
	path = lib/fcontrol
	url = https://github.com/munozyanez/fcontrol.git
	branch = opencl
[submodule "lib/i-plot"]
	path = lib/i-plot
	url = https://github.com/munozyanez/i-plot.git
[submodule "opencl"]
	branch = fcontrol
